*{
    font-size : 14px;
    font-weight: normal;
    margin: 0 auto;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    letter-spacing: -0.5px;
}

body {
  background-color: #FCF9F9;
  height: 8000px;
}

h2 {
  font-family: 'Gowun Batang', serif;
}

.section_title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.wrap {
    width: 100%;
    height: 2000px;
}

    .header {
        overflow: hidden;
        width: 100%;
        height: 650px;
    }
        .header_inner {
            z-index: 99;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 1720px;
            height: 65px;
            display: flex;
        }
            .logo {
                flex: 1;
                align-self: center;
            }

            .nav {
                flex: 1;
                align-self: flex-start;
                position: relative;
            }
                .gnb {
                    width: 640px;
                    display: flex;
                    list-style: none;
                    padding: 0;
                }
                    .gnb_list {
                        flex: 1;
                        line-height: 65px;
                        display: flex;
                    }
                    .nav:hover .lnb {
                        transform: scaleY(1);
                        transform-origin: top left;
                        transition: all 0.3s;
                    }
                        .gnb_list > a {
                            color: white;
                            text-decoration: none;
                            font-weight: bold;
                        }
                        .gnb_list > a:hover {
                            font-weight: bold;
                            font-size: 18px;
                            transition: all 0.3s;
                        }
                .lnb {
                    transform: scaleY(0);
                    z-index: 99;
                    overflow: hidden;
                    background-color: white;
                    position: absolute;
                    top: 65px;
                    left: -640px;
                    width: 100vw;
                    padding: 0;
                }
                    .depth3 {
                        width: 640px;
                        display: flex;
                        
                    }
                    .depth3_inner {
                        flex: 1;
                        text-align: center;
                        list-style: none;
                        padding: 0;
                        margin: 30px 0px;
                    }
                        .depth3_list {
                            margin-bottom: 10px;
                            height: 20px;
                        }
                        .depth3_list:last-child {
                            margin: 0;
                        }
                        .depth3_list a {
                            color: #333;
                            text-decoration: none;
                        }
                        .depth3_list a:hover {
                            color: #AB8B67;
                            font-weight: bold;
                            font-size: 16px;
                            transition: all 0.3s;
                        }


            .nav_util {
                flex: 1;
            }
                .icons {
                    height: 100%;
                    width: 210px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    list-style: none;
                    padding: 0;
                    margin-right: 0;
                }
                    .icon_list {
                        width: 70px;
                        text-align: center;
                    }
                    .icon_list > a > img {
                        width: 25px;
                        height: 25px;
                    }

        .top_slider {
            width: 100%;
        }
            .slide_main {
                height: 600px;
            }
                .slide_button {
                    float: left;
                    width: 50px;
                    height: 600px;
                    border: none;
                    box-shadow: -1px -3px 5px rgba(0,0,0,.5);
                    padding: 0;
                    cursor: pointer;
                }
                .slide_list {
                    position: relative;
                    float:left;
                    width: 1753px;
                    height: 100%;
                }
                    .slide_item {
                        height: 600px;
                        box-shadow: -1px 0px 5px rgba(0,0,0,.5);
                        max-width: 100%;
                    }
                        .slide_img img {
                            width: 1753px;
                            height: 600px;
                        }
                    
                    .slide_inside {
                        position: absolute;
                        top: 200px;
                        left: 150px;
                        color: white;
                    }
                        .slide_num {
                            font-size: 150px;
                            text-shadow: 0px 0px 8px rgba(0,0,0,.5);
                        }
                        .slide_title,
                        .slide_txt {
                            font-size: 20px;
                            text-shadow: 0px 0px 5px rgba(0,0,0,.5);
                        }
                        .slide_title {
                            margin-bottom: 15px;
                            font-weight: bold;
                        }
                        .slide_txt {
                            line-height: 30px;
                            text-shadow: 0px 0px 5px rgba(0,0,0,.5);
                        }
                
            .slide_util {
              width: 113px;
              height: 40px;
              margin-top: 10px;
              margin-left: 130px;
              display: flex;
              align-items: center;
            }
              .util_button {
                width: 40px;
                height: 40px;
                padding: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
              }
                .util_button img {
                  width: 20px;
                  margin-top: 3px;
                }
                .util_prev > img {
                  transform: scaleX(-1);
                }
              .slide_util p {
                font-size: 13px;
              }


#search {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 46px;
}
  
  .search_area {
    position: relative;
    width: 540px;
    height: 60px;
    display: flex;
    background-color: white;
    border-radius: 30px;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  }
    .search {
      width: 440px;
      height: 60px;
      padding: 0;
      margin: 0;
      border: none;
      padding: 25px;
      font-size: 16px;
    }
    .search:focus {
      outline: none;
    }
    .search::-ms-clear,
    .search::-ms-reveal {
      display:none; width: 0; height: 0;
    }
    .search::-webkit-search-decoration,
    .search::-webkit-search-cancel-button,
    .search::-webkit-search-results-button,
    .search::-webkit-search-results-decoration{
      display:none;
    }
    .btn_clear {
      position: absolute;
      right: 80px;
      width: 60px;
      height: 60px;
      padding: 0;
      border: 0;
      background-color: transparent;
    }
    .btn_clear > img {
      display: block;
      width: 20px;
      visibility: hidden;
      /* 자바스크립트로 */
    }
    .search_button {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 0;
      cursor: pointer;
    }
      .search_button > img {
        display: block;
        width: 30px;
        margin: 15px;
      }

        .recommend {
          list-style: none;
          padding: 0;
        }
          .recommend_list {
            margin-top: 15px;
            float: left;
          }
            .recommend_list > a {
              color: #C4C4C4;
              margin-right: 20px;
            }
            .recommend_list:last-child > a {
              margin: 0;
            }

#community {
  width: 100%;
  height: 327px;
}
  .cm_area {
    width: 1720px;
  }
  .cm_list {
    width: 100%;
    height: 200px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    align-items: center;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 40px;
    }
    .cm_shortcut {
      flex: 1;
      height: 200px;
    }
      .cm_img {
        width: 60px;
        height: 60px;
        margin-top: 25px;
      }
        .cm_img > img {
          margin-top: 10px;
          width: 50px;
        }
        .samsung_div {
          width: 75px;
          height: 75px;
          margin-top: 18px;
        }
        #samsung {
          width: 75px;
          margin: 0;
        }
        #samsung_title {
          margin-top: 15px;
        }
      .cm_title {
        margin-top: 23px;
      }
      .cm_txt {
        margin-top: 5px;
      }

#gallary {
  width: 100%;
  height: 730px;
  margin-top: 120px;
}
  .gallary_area {
    width: 1720px;
    height: 730px;
  }
    .gallary_title_area {
      width: 100%;
      height: 87px;
      display: flex;
      margin-bottom: 40px;
    }
      .gallary_title_area > h2 {
        flex: 1;
        justify-self: center;
        margin: 0;
      }
      
      .view_more {
        color: #333;
        text-decoration: none;
        margin-top: 68px;
      }
    .gallary_list {
      height: 603px;
      padding: 0;
      margin: 0;
      
    }
      .gallary_item {
        float: left;
        margin-right: 40px;
        list-style: none;
        padding: 0;
      }
      .gallary_item:last-child {
        margin: 0;
      }
        .gallary_img {
          width: 400px;
          height: 500px;
          background-color: skyblue;
        }
        .gallary_title {
          margin-top: 16px;
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: bold;
        }
        .gallary_txt {
          margin-bottom: 20px;
          font-size: 15px;
        }
        .item_count {
          display: flex;
          width: 152px;
          margin: 0;
        }
          .item_count img {
            width: 22px;
            height: 22px;
          }
          .count {
            font-size: 14px;
          }