*{
    font-size : 14px;
    font-weight: normal;
    margin: 0 auto;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    letter-spacing: -0.8px;
    color:#333;
}

body {
  background-color: #FCF9F9;
  height: 8476px;
}

h2 {
  font-family: 'Gowun Batang', serif;
}

.title_area {
  width: 1720px;
  height: 87px;
  display: flex;
  margin-bottom: 40px;
}

.section_title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 0;
  cursor: default;
}

.view_more {
  text-decoration: none;
  margin-top: 68px;
  margin-right: 0;
}
.view_more:hover {
  color: #AB8B67;
  transition: all 0.3s;
}

.wrap {
    width: 100%;
    height: 2000px;
}

    .header {
        overflow: hidden;
        width: 100%;
        height: 650px;
    }
        .header_inner {
            z-index: 99;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 1720px;
            height: 65px;
            display: flex;
        }
            .logo {
                flex: 1;
                align-self: center;
                cursor: pointer;
            }

            .nav {
                flex: 1;
                align-self: flex-start;
                position: relative;
            }
                .gnb {
                    width: 640px;
                    display: flex;
                    list-style: none;
                    padding: 0;
                }
                    .gnb_list {
                        flex: 1;
                        line-height: 65px;
                        display: flex;
                    }
                    .nav:hover .lnb {
                        transform: scaleY(1);
                        transform-origin: top left;
                        transition: all 0.3s;
                    }
                        .gnb_list > a {
                            color: white;
                            text-decoration: none;
                            font-weight: bold;
                        }
                        .gnb_list > a:hover {
                            font-weight: bold;
                            font-size: 18px;
                            transition: all 0.3s;
                        }
                .lnb {
                    transform: scaleY(0);
                    z-index: 99;
                    overflow: hidden;
                    background-color: rgba(255, 255, 255, .8);
                    position: absolute;
                    top: 65px;
                    left: -640px;
                    width: 100vw;
                    padding: 0;
                }
                    .depth3 {
                        width: 640px;
                        display: flex;
                        
                    }
                    .depth3_inner {
                        flex: 1;
                        text-align: center;
                        list-style: none;
                        padding: 0;
                        margin: 30px 0px;
                    }
                        .depth3_list {
                            margin-bottom: 10px;
                            height: 20px;
                        }
                        .depth3_list:last-child {
                            margin: 0;
                        }
                        .depth3_list a {
                            color: #333;
                            text-decoration: none;
                        }
                        .depth3_list a:hover {
                            color: #AB8B67;
                            font-weight: bold;
                            font-size: 16px;
                            transition: all 0.3s;
                            border-bottom: 2px solid #AB8B67;
                        }


            .nav_util {
                flex: 1;
            }
                .icons {
                    height: 100%;
                    width: 210px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    list-style: none;
                    padding: 0;
                    margin-right: 0;
                }
                    .icon_list {
                        width: 70px;
                        text-align: center;
                    }
                    .icon_list > a > img {
                        width: 25px;
                        height: 25px;
                    }

        .top_slider {
            width: 100%;
        }
            .slide_main {
                height: 600px;
                cursor: pointer;
            }
                .slide_button {
                    float: left;
                    width: 50px;
                    height: 600px;
                    border: none;
                    box-shadow: -1px -3px 5px rgba(0,0,0,.5);
                    padding: 0;
                    cursor: pointer;
                }
                .slide_list {
                    position: relative;
                    float:left;
                    width: 1753px;
                    height: 100%;
                }
                    .slide_item {
                        height: 600px;
                        box-shadow: -1px 0px 5px rgba(0,0,0,.5);
                        max-width: 100%;
                    }
                        .slide_img {
                          width: 100%;
                          height: 600px;
                          background-image: url(images/main4.png);
                          background-position: top;
                          background-repeat: no-repeat;
                        }
                    
                    .slide_inside {
                        position: absolute;
                        top: 200px;
                        left: 150px;
                        color: white;
                    }
                        .slide_num {
                            color: white;
                            font-size: 150px;
                            text-shadow: 0px 0px 10px rgba(0,0,0,.5);
                        }
                        .slide_title,
                        .slide_txt {
                          margin-left: 10px;
                            color: white;
                            text-shadow: 0px 0px 8px rgba(0,0,0,.5);
                        }
                        .slide_title {
                            margin-bottom: 15px;
                            font-weight: bold;
                            font-size: 20px;
                        }
                        .slide_txt {
                          font-size: 16px;
                            line-height: 30px;
                            text-shadow: 0px 0px 8px rgba(0,0,0,.5);
                        }
                
            .slide_util {
              width: 113px;
              height: 40px;
              margin-top: 10px;
              margin-left: 130px;
              display: flex;
              align-items: center;
            }
              .util_button {
                width: 40px;
                height: 40px;
                padding: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
              }
                .util_button img {
                  width: 20px;
                  margin-top: 3px;
                }
                .util_prev > img {
                  transform: scaleX(-1);
                }
              .slide_util p {
                font-size: 13px;
              }


#search {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 46px;
}
  .search_title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .search_area {
    position: relative;
    width: 540px;
    height: 60px;
    display: flex;
    background-color: white;
    border-radius: 30px;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
  }
    .search {
      width: 440px;
      height: 60px;
      padding: 0;
      margin: 0;
      border: none;
      padding: 25px;
      font-size: 16px;
    }
    .search:focus {
      outline: none;
    }
    .search::-ms-clear,
    .search::-ms-reveal {
      display:none; width: 0; height: 0;
    }
    .search::-webkit-search-decoration,
    .search::-webkit-search-cancel-button,
    .search::-webkit-search-results-button,
    .search::-webkit-search-results-decoration{
      display:none;
    }
    .btn_clear {
      position: absolute;
      right: 80px;
      width: 60px;
      height: 60px;
      padding: 0;
      border: 0;
      background-color: transparent;
    }
    .btn_clear > img {
      display: block;
      width: 20px;
      visibility: hidden;
      /* 자바스크립트로 */
    }
    .search_button {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 0;
      cursor: pointer;
    }
      .search_button > img {
        display: block;
        width: 30px;
        margin: 15px;
      }

        .recommend {
          list-style: none;
          padding: 0;
        }
          .recommend_list {
            margin-top: 15px;
            float: left;
          }
            .recommend_list > a {
              color: #C4C4C4;
              margin-right: 20px;
            }
            .recommend_list:last-child > a {
              margin: 0;
            }

#community {
  width: 100%;
  height: 327px;
}
  .cm_area {
    width: 1720px;
  }
  .cm_list {
    width: 100%;
    height: 200px;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    align-items: center;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 40px;
    }
    .cm_shortcut {
      flex: 1;
      height: 200px;
      position: relative;
      cursor: pointer;
    }
    .cm_shortcut:hover {
      background-color: #AB8B67;
      color: #FCF9F9;
    }
    .cm_shortcut:hover > .cm_img {
      display: none;
    }
    .cm_shortcut:hover > .cm_img2 {
      display: block;
    }
    .cm_shortcut:hover > .cm_title {
      margin-top: 108px;
      color: #FCF9F9;
    }
    .cm_shortcut:hover > .cm_txt {
      color: #FCF9F9;
    }
      .cm_img {
        width: 60px;
        height: 60px;
        margin-top: 25px;
      }
        .cm_img > img {
          margin-top: 10px;
          width: 50px;
        }
      .cm_img2 {
        position: absolute;
        top: 35px;
        left: 114px;
        width: 60px;
        height: 60px;
        display: none;
      }
        .cm_img2 > img {
          width: 50px;
        }
        .samsung_div {
          width: 75px;
          height: 75px;
          margin-top: 18px;
        }
        .cm_shortcut:hover .samsung_div2 {
          width: 75px;
          height: 75px;
          left: 106px;
          top: 18px;
        }
        .cm_shortcut:hover .samsung_div2 > img {
          width: 75px;
          height: 75px;
        }
        .cm_shortcut:hover #samsung_title {
          margin-top: 108px;
        }
        #samsung {
          width: 75px;
          margin: 0;
        }
        #samsung_title {
          margin-top: 15px;
        }
      .cm_title {
        margin-top: 23px;
        font-size: 16px;
        font-weight: bold;
      }
      .cm_txt {
        margin-top: 5px;
        font-size: 14px;
      }

#gallary {
  width: 100%;
  height: 830px;
  margin-top: 120px;
  margin-bottom: 120px;
}
  .gallary_area {
    width: 1720px;
    height: 830px;
  }

      .gallary_title_area > h2 {
        flex: 1;
        justify-self: center;
        margin: 0;
      }
      
    .gallary_list {
      height: 603px;
      padding: 0;
      margin: 0;
      
    }
      .gallary_item {
        float: left;
        margin-right: 40px;
        list-style: none;
        padding: 0;
        width: 400px;
        height: 600px;
      }
      .gallary_item:last-child {
        margin: 0;
      }
        .gallary_img {
          width: 400px;
          height: 100%;
          background-size: cover;
          margin-bottom: 16px;
          overflow: hidden;
        }
        .gallary_img:hover img {
          transform: scale(1.2);
          transition: all 0.5s;
        }
        .gallary_img:hover + .gallary_title {
          color: #AB8B67;
        }
            .gallary_img > img {
              width: 400px;
              margin-bottom: 16px;
              background-size: cover;
            }
        
        .gallary_title {
          margin-bottom: 5px;
          font-size: 16px;
          font-weight: bold;
        }
        .gallary_txt {
          margin-bottom: 20px;
          font-size: 15px;
        }
        .item_count {
          display: flex;
          width: 157px;
          margin: 0;
          justify-content: center;
          align-items: center;
        }
          
          .view_img {
            width: 22px;
            height: 22px;
            margin: 0;
            margin-right: 6px;
          }
          .scrab_img {
            width: 18px;
            height: 18px;
            margin: 0;
            margin-right: 8px;
          }
          .count {
            font-size: 14px;
            margin: 0;
            margin-right: 15px;
          }
          .count:last-child {
            margin: 0;
          }

#exhibition {
  width: 100%;
  height: 827px;
  margin-bottom: 120px;
}
  #exhibition > .title_area {
    width: 1720px;
    height: 87px;
    overflow: hidden;
  }
  .ex_slider {
    width: 100%;
    height: 700px;
  }
    .ex_slider ul {
      width: 100%;
      list-style: none;
      padding: 0;
      display: flex;
    }
    .ex_slider li {
      background-color: skyblue;
      width: 640px;
      height: 700px;
      position: relative;
    }
    .ex_slider li:first-child {
      background: url(images/exhibition/ex_macstuido.png);
      background-position: center;
      background-size: cover;
    }
    .ex_slider li:nth-child(2) {
      background: url(images/exhibition/ex_sennheiser.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .ex_slider li:last-child {
      background: url(images/exhibition/ex_spectre.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

      .ex_title {
        z-index: 3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 236px;
        height: 48px;
        border-top: 1px solid rgba(255, 255, 255, 1);
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
      }
        .ex_title > span {
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          color: white;
        }

    .ex_slider li:hover {
      width: 1800px;
      transition: all 0.6s linear;
    }
    .ex_slider li:hover p {
      width: 450px;
      height: 120px;
    }
    .ex_slider li:hover p span{
      font-size: 40px;
      text-align: center;
    }
    .ex_slider li:hover p span::after {
      display: block;
      content: "당신의 스튜디오를 탈바꿈시키다.";
      font-size: 20px;
      font-weight: normal;
      text-align: center;
      margin-top: 10px;
      transition: all 0.4s;
    }
    .ex_slider li:hover:nth-child(2) p span::after {
      content: "독보적인 기술로 당신의 귀를 채우다"
    }
    .ex_slider li:hover:nth-child(3) p span::after {
      content: "상상의 속도 만큼 빠르게"
    }

#best {
  width: 100%;
  height: 777px;
  margin-bottom: 120px;
}
  .best_area {
    width: 1720px;
    height: 650px;
    display: flex;
    padding:0;
  }
    .accent_item {
      position: relative;
      width: 440px;
      height: 100%;
      margin-left: 0;
    }
      .accent_img {
        width: 440px;
        height: 100%;
        overflow: hidden;
      }
        .accent_img > img {
          width: 440px;
          background-size: contain;
        }
        .accent_img:hover img {
          transform: scale(1.2);
          transition: all 0.5s;
        }

      .accent_txt {
        position: absolute;
        bottom: 30px;
        left: 30px;
      }
          .accent_txt > p {
            color: #FCF9F9;
          }

    .normal_list {
      width: 1240px;
      height: 100%;
      margin-right: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 40px;
    }
      .normal_item {
        width: 280px;
        height: 305px;
      }
        .normal_img {
          height: 210px;
          overflow: hidden;
          margin-bottom: 16px;
          box-shadow: 0px 0px 10px rgba(0,0,0,.1); 
        }
        .normal_img:hover img {
          transform: scale(1.2);
          transition: all 0.5s;
        }
        .normal_img:hover + .normal_txt > .item_price {
          color: #AB8B67;
        }
          .normal_img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .noraml_txt {
            margin: 0;
          }
    
        .item_title {
          font-size: 16px;
          margin-top: 5px;
          margin-bottom: 10px;
        }
        .item_price {
          font-size: 20px;
          font-weight: bold;
        }

#new {
  width: 100%;
  height: 897px;
  margin-bottom: 120px;
}
  .new_area {
    width: 1720px;
    height: 770px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 80px 40px;
  }
    .new_list {
      width: 312px;
      height: 345px;
    }
      .new_img {
        height: 312px;
        height: 250px;
        overflow: hidden;
        margin-bottom: 16px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.1);
      }
      .new_img:hover img {
        transform: scale(1.2);
        transition: all 0.5s;
      }
        .new_img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .new_img:hover + .new_txt > .item_price {
          color: #AB8B67;
        }

#last {
  width: 100%;
  height: 777px;
}
  .last_area {
    width: 100%;
    height: 650px;
  }
  .top_area {
    background-color: #AB8B67;
    height: 400px;
  }
  
  .top_area_inner  {
    width: 1720px;
    height: 100%;
    display: flex;
  }
  .bottom_area {
    position: relative;
    height: 250px;
  }
    .last_word {
      width: 226px;
      height: 149px;
      margin: 0;
      margin-top: 126px;
      text-align: center;
    }
        .txt {
          font-size: 18px;
          color: #FCF9F9;
        }
        .last_title {
          font-size: 50px;
          color: #FCF9F9;
        }
    .last_item {
      overflow: hidden;
      width: 1394px;
      height: 650px;
      display: grid;
      margin-right: 0;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
    }
      .last_list {
        padding: 0;
        list-style: none;
        margin-top: 50px;
        overflow: hidden;
      }
          .last_content {
            width: 438px;
            height: 600px;
            position: relative;
            /* transform: translateY(px); */
          }
              .last_img {
                width: 438px;
              }
                  .last_img img{
                    width: 438px;
                    height: 600px;
                    object-fit: cover;
                  }
              .last_txt {
                position: absolute;
                bottom: 30px;
                left: 30px;
              }
              .last_txt > p {
                color: #FCF9F9;
              }

    .last_util {
      width: 80px;
      height: 160px;
      position: absolute;
      left: 306px;
      top: 90px;
      display: flex;
      flex-direction: column;
    }
        .last_util button {
          width: 80px;
          height: 80px;
          border: 0;
          border-radius: 40px;
          background-color: transparent;
          padding: 0;
          cursor: pointer;
        }
        .last_util button:hover {
          box-shadow: 0px 0px 10px rgba(0,0,0,.1);
        }
            .last_util button img {
              width: 40px;
              height: 40px;
              object-fit: cover;
            }
            .last_util button:last-child img {
              transform: scaleY(-1);
            }

#all {
  margin-top: 120px;
}
    .category_area {
      width: 1720px;
      height: 82px;
    }
        .categories {
          height: 82px;
          list-style: none;
          padding: 0;
          display: flex;
          align-items: center;
          box-shadow: 0px 0px 10px rgba(0,0,0,.1);
        }
            .ct_txt {
              cursor: pointer;
            }
            .ct_txt > p {
              font-size: 17px;
            }
            .ct_txt:hover > p{
              color:#AB8B67;
            }
            .select_ct > p{
              font-weight: bold;
              color:#AB8B67;
            }

    .all_area {
      width: 1720px;
      height: 1140px;
      margin-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 40px 34px;
    }
        .product {
          width: 185px;
          height: 255px;

        }
            .product_image {
              width: 185px;
              height: 160px;
              box-shadow: 0px 0px 10px rgba(0,0,0,.1);
              overflow: hidden;
            }
            .product_image > img {
              width: 185px;
              height: 160px;
              object-fit: cover;
            }
            .product_image:hover img {
              transform: scale(1.2);
              transition: all 0.5s;
            }
              .product_image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .product_image:hover + .product_txt > .item_price {
                color: #AB8B67;
              }

                .product_txt {
                  display: flex;
                  flex-direction: column;
                  margin-top: 16px;
                }
                    .product_txt > p {
                      margin-left: 0;
                    }

            .show_all {
              width: 100%;
              height: 20px;
              display: flex;
              margin-top: 60px;
            }
                .show_all > p {
                  cursor: pointer;
                  font-size: 15px;
                  border-bottom: 1px solid #333;
                }

                .show_all > p:hover {
                  transition: all 0.3s;
                  font-weight: bold;
                  color:#AB8B67;
                  border-bottom: 2px solid #AB8B67;
                } 

#banner {
  width: 100%;
  height: 200px;
  display: flex;
  margin-top: 200px;
}
    .banner_area {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .left_banner {
      background-color: #AB8B67;
    }
    .banner_inner {
      width: 444px;
      height: 100px;
      display: flex;
    }
        .banner_list {
          height: 100px;
        }
            .banner_title {
              font-size: 30px;
              font-weight: bold;
              color: #FCF9F9;
              margin-bottom: 9px;
            }
            .banner_txt {
              font-size: 15px;
              color: #FCF9F9;
            }
        .banner_img {
          width: 100px;
          height: 100px;
          margin-right: 0;
        }
        .banner_img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .right_banner img {
          width: 80px;
          height: 80px;
          margin: 10px;
        }

        

    .right_banner {
      background-color: #4B7CC9;
    }

#associte {
  width: 100%;
  height: 94px;
  display: flex;
  align-items: center;
}
    .associte_area {
      width: 100%;
      height: 74px;
    }
        .associte_list {
          display: flex;
          justify-content: center;
        }
            .associte_img {
              width: 240px;
              height: 74px;
            }
               .associte_img img {
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
               }

footer {
  width: 100%;
  height: 292px;
  background-color: #333;
  display: flex;
  align-items: center;
}
    .footer_area {
      width: 1720px;
      height: 182px;
      display: flex;
      align-items: center;
    }
        .footer_list {
          width: 773px;
          height: 172px;
          margin-left: 0;
        }
            .footer_item {
              width: 683px;
              list-style: none;
              padding: 0;
              display: flex;
              margin-left: 0;
            }

                .footer_name {
                  padding-right: 16px;
                  padding-left: 16px;
                  border-right: 1px solid #FCF9F9;
                  cursor: pointer;
                }
                .footer_name:first-child {
                  padding-left: 0;
                }
                .footer_name:first-child span {
                  color:#AB8B67;
                  font-weight: bold;
                }
                .footer_name:nth-child(2) span {
                  font-weight: bold;
                }
                .footer_name:last-child {
                  border:none;
                  padding-left: 16px;
                  padding-right: 0;
                  margin: 0;
                }
                    .footer_name > span{
                      color: #FCF9F9;
                      font-size: 14px;
                    }
            
            .footer_txt {
              margin-top: 30px;
              color:#FCF9F9;
              line-height: 26px;
            }
            .copyright {
              color:#AB8B67;
              margin-top: 30px;
              font-weight: bold;
            }

.footer_link {
  width: 244px;
  height: 36px;
  margin-right: 0;
  align-self: flex-start;
}
    .link_area {
      margin-right: 0;
      display: flex;
    }
        .link_logo {
          width: 36px;
          height: 36px;
          cursor: pointer;
        }
            .link_logo img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }